:root {
  --background-color: #ffffff;
  --text-color: #000;
  --card-background: #f9f9f9;
  --header-background: #dcf3c6;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --link-active-color: #0b2be0;
  --background-color-aside: #9fcdd883;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.2s,
    color 0.2s;
}
#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body.dark {
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --card-background: #1a1a1a;
  --header-background: #0f37bdd5;
  --link-color: #747bff;
  --link-hover-color: #fdff7b;
  --link-active-color: #ffffff;
  --background-color-aside: #cce0e65d;
}
